nav {
  align-items: center;
  color: var(--nav);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

ul li {
  list-style: none;
  margin-right: 1rem;
}

a {
  color: var(--nav);
  text-decoration: none;
}

a:link, a:visited {
  color: var(--nav);
}

a:active, a:hover {
  color: var(--ct-color) ;
}
