<main>
    <section>
        <h2>Seja bem vindo(a)!</h2>
        <img src="/assets/img.jpg" class="home__img"  alt="">
    </section>
    <section class="home__actions">
        <button mat-fab class="icon" aria-label="Example icon button with a delete icon" routerLink="/pets">
            <mat-icon>pets</mat-icon>
        </button>
        <button mat-fab class="icon" aria-label="Example icon button with a delete icon" routerLink="/agenda">
            <mat-icon>calendar_month</mat-icon>
        </button>
        <button mat-fab class="icon" aria-label="Example icon button with a delete icon" routerLink="/adoption">
            <mat-icon>volunteer_activism</mat-icon>
        </button>
  </section>
</main>
