<main>
  <form (ngSubmit)="addPet()" [formGroup]="petForm" #formDir="ngForm">
    <section>
      <app-input
        [type]="text"
        [name]="petnamelabel"
        [placeholder]="petnameph"
        [maxlenght]="petnamemaxl"
        formControlName="name">
      </app-input>
      <span *ngIf="name.invalid && formDir.submitted" class="msg-error">
        <p *ngIf="name.errors?.['required']">O nome do pet é obrigatório!</p>
      </span>
    </section>
    <section>
      <div>
        <label for="">Tipo de animal</label>
        <select name="type" id="">
          <option>Selecione um tipo</option>
          <option [value]="type.name" *ngFor="let type of types">
            {{ type.name }}
          </option>
        </select>
      </div>
      <div>
        <app-input
          [type]="text"
          [name]="breedlabel"
          [placeholder]="breedplaceholder"
          [maxlenght]="breedmaxlenght">
        </app-input>
        <span *ngIf="name.invalid && formDir.submitted" class="msg-error">
          <p *ngIf="name.errors?.['required']">O tipo da raça do pet é obrigatório!</p>
        </span>
      </div>
    </section>
    <section>
      <app-input
        [type]="text"
        [name]="palname"
        [placeholder]="palplaceholder"
        [maxlenght]="palmaxlength" >
      </app-input>
      <span *ngIf="name.invalid && formDir.submitted" class="msg-error">
        <p *ngIf="name.errors?.['required']">O nome do responsável é obrigatório!</p>
      </span>
    </section>
    <section>
      <div>
        <app-input
          [type]="number"
          [name]="contactname"
          [placeholder]="contactplaceholder"
          [maxlenght]="contactmaxlenght">
        </app-input>
        <span *ngIf="name.invalid && formDir.submitted" class="msg-error">
          <p *ngIf="name.errors?.['required']">O número do responsável é obrigatório!</p>
        </span>
      </div>
      <div>
        <label for="">Tipo do contato</label>
        <select name="type" id="">
          <option>Selecione um tipo</option>
          <option [value]="contact.name" *ngFor="let contact of contacts">
            {{ contact.name }}
          </option>
        </select>
      </div>
    </section>
    <button class="form__button">Adicionar pet</button>
  </form>
  <section class="pets__action">
    <app-fab-button [icon]="back" [link]="backlink" class="icon"></app-fab-button>
  </section>
</main>


