<main>
  <form (ngSubmit)="addPet()" [formGroup]="petForm" #formDir="ngForm" >
    <section class="form__input-col">
      <label for="name">Nome do pet</label>
      <input type="text" placeholder="Insira o nome do pet aqui" formControlName="name" required>
      <span *ngIf="name.invalid && formDir.submitted">
        <p *ngIf="name.errors?.['required']">O nome do pet é obrigatório!</p>
      </span>
    </section>
    <section class="form__input-row">
      <div class="form__input-col">
        <label for="type">Tipo de animal</label>
        <select id="type" formControlName="type">
          <option>Selecione um tipo</option>
          <option [value]="type.name" *ngFor="let type of types">
            {{ type.name }}
          </option>
        </select>
      </div>
      <div class="form__input-col">
        <label for="name">Tipo da raça</label>
        <input type="text" placeholder="Insira o nome da raça do pet" formControlName="breed">
      </div>
    </section>
    <section class="form__input-col">
      <label for="name">pal (Responsável pelo pet)</label>
      <input type="text" placeholder="Insira o nome do responsável aqui" formControlName="pal">
    </section>
    <section class="form__input-row">
      <div class="form__input-col">
        <label for="name">Nome do pet</label>
        <input type="text" placeholder="Insira número para contato" formControlName="contact">
      </div>
      <div class="form__input-col">
        <label for="contacttype">Tipo do contato</label>
        <select id="contacttype" formControlName="typecontact">
          <option>Selecione um tipo</option>
          <option [value]="contact.name" *ngFor="let contact of contacts">
            {{ contact.name }}
          </option>
        </select>
      </div>
    </section>
    <button class="form__button" type="submit">Adicionar pet</button>
  </form>
  <section class="pets__action">
    <app-fab-button [icon]="back" [link]="backlink" class="icon"></app-fab-button>
  </section>
</main>


